/* Default styles for all screen sizes */
/* You can define common styles here that apply to all screen sizes */

/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
    /* Add styles specific to large desktop screens here */
}

/* Desktop and Tablets (col-md) 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
    /* Add styles specific to screens between 768px and 991px here */
}

/* Tablets (col-sm) 576px to 767px */
@media (min-width: 576px) and (max-width: 767px) {
    /* Add styles specific to screens between 576px and 767px here */
}

/* Tablets and Mobile Phones (col) 0px to 767px */
@media (max-width: 767px) {
    
   
/* Add styles specific to screens with a maximum width of 767px here */
    
    
    
   
/* Example styles you provided earlier */
    .no-mobile {
        display: none !important;
    }
    
    }
.col-one {
        padding-left: 35px !important;
        
       
padding-right: 35px !important;
    }
    /* Add more responsive styles here */
